.font-sidebar-title {
    width: 100%;
    height: 20%;

    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 36px;
    color: rgba(255, 0, 0, 0.45);
}

.font-navigation-title {
    width: 100%;
    height: 25%;

    font-family: Bodoni MT;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vmax;
    line-height: calc(0.2vh + 9px);
    letter-spacing: 0.18em;

    color: #C6C6C6;
    text-decoration: none;
    text-transform: uppercase;
}

.font-infomation-name {
    width: 100%;
    height: calc(109px + 0.8em);

    font-family: Centaur;
    font-style: normal;
    font-weight: normal;
    font-size: calc(96px + 0.9em);
    line-height: calc(109px - 0.06em);
    color: #000000;
    /*border: 1px solid #ff0000;*/
}


.font-infomation-position {
    width: 100%;
    height: 33px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #000000; 
    /*border: 1px solid #ff0000; */
}

.font-infomation-message {
    width: 100% ;
    height: 33px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
    /*border: 1px solid #00ff00;*/
}

.font-infomation-ref {
    /*
    width: 100%;
    height: 27px;
    */

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /*text-decoration-line: underline;*/

    color: #FF0000;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 25vw;
    height: 100vh;

    z-index: 10000;
    background: #000000;
    padding: 0 calc(0.5vw + 3px) 0 0;
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
}

#sidebar-title {
    position: fixed;
    left: 1.2em;
    top: 5vh;
    text-align: left;
}

#sidebar-title ul {
    color: rgba(255, 255, 255, 0.55);
    cursor: default;
    text-align: right;
    box-sizing: inherit;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 0 2em 0;
    padding: 0;
    align-self: auto;
    width: 15vw;
    height: 45vh;
}

#sidebar-title li {
    cursor: default;
    box-sizing: inherit;
    border: 0;
    vertical-align: baseline;
    transform: translateY(0);
    transition: opacity 0.15s ease, transform 0.75s ease;
    opacity: 1;
    margin: 0;
    padding: 0;
    transition-delay: 0.45s;
    list-style: none;
    text-align: left;
}


#navigation-title {
    min-height: 100%;
    min-width: 100%;
    position: relative;

    cursor: default;
    text-align: right;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(0);
    transition: opacity 1s ease;
    opacity: 1;
}

#navigation-title ul {
    width: 100%;
    height: calc(20vh + 63px);
    position: fixed;
    right: 0;
    bottom: calc(15vh - 45px);

    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
}

#navigation-title  li {
    color: rgba(255, 255, 255, 0.55);
    cursor: default;
    list-style: none;
    box-sizing: inherit;
    border: 0;
    vertical-align: baseline;
    transform: translateY(0);
    transition: opacity 0.15s ease, transform 0.75s ease;
    opacity: 1;
    padding: 0;
    position: relative;
    margin: 0;
    transition-delay: 0.45s;
}

#navigation-title a {
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    transition: color 0.2s ease;
    border: 0;
    display: block;
    outline: 0;
    padding: calc(0.9vh + 0.3em) 0;
    position: relative;
}




#sidebar nav a:before, #sidebar nav a:after {
    border-radius: 0.2em;
    bottom: 0;
    content: '';
    height: 0.2em;
    position: absolute;
    right: 0;
    width: 100%;
}

#sidebar nav a:before {
    background-image: -moz-linear-gradient(to right, #000000, #ffffff7f);
    background-image: -webkit-linear-gradient(to right, #000000, #ffffff7f);
    background-image: -ms-linear-gradient(to right, #000000, #ffffff7f);
    background-image: linear-gradient(to right, #000000, #ffffff7f);
}

#sidebar nav a:after {
    background-image: -moz-linear-gradient(to right, #000000, #ff0000);
    background-image: -webkit-linear-gradient(to right, #000000, #ff0000);
    background-image: -ms-linear-gradient(to right, #000000, #ff0000);
    background-image: linear-gradient(to right, #000000, #ff0000);
    -moz-transition: max-width 0.2s ease;
    -webkit-transition: max-width 0.2s ease;
    -ms-transition: max-width 0.2s ease;
    transition: max-width 0.2s ease;
    max-width: 0;
}

#sidebar nav a:hover {
    color: rgba(255, 255, 255, 0.55);
}

#sidebar nav a.active {
    color: #ffffff;
}

#sidebar nav a.active:after {
    max-width: 100%;
}


#sidebar {
    box-shadow: 10px 10px 27px rgba(0,0,0,0.9);
}



#pages {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 25vw;
    width: 75%;
}

#rights-notice span {
    font-family: Baskerville Old Face;
    color: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    font-size: 12px;
    right: 1.8vw;
}

#picture {
    position: absolute;
    max-width: 470px;
    max-height: 940px;
    min-width: 235px;
    min-height: 470px;

    width: calc(45vw - 235px);
    height: calc(100vh - 100px);
    left: 1.8vw;

    /* aligin: center */
    top: 50%;
    margin-top: min(max(-470px, calc(100px/2 - 100vh/2)), -470px/2);

    background-image: url(../../images/picture.jpg);
    /*background-position: calc(-90px - (470px - 45vw + 235px) * 0.45) -150px;*/
    background-position: calc(-90px - calc((470px - max(min(470px, calc(45vw - 235px)), 235px))) * 0.5) -150px;
    box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.9);
}

#infomation {
    position: absolute;

    min-height: 470px;
    max-height: 940px;
    height: calc(100vh - 100px);

    width: calc(75vw - max(min(470px, calc(45vw - 235px)), 235px) - 5.4vw);
    left: calc(3.6vw + max(min(470px, calc(45vw - 235px)), 235px));

    /* aligin: center */
    top: 50%;
    margin-top: min(max(-470px, calc(100px/2 - 100vh/2)), -470px/2);
    /*overflow: hidden;*/
}

#info-text {
    position: absolute;
    top: calc(36px + 47px - 5%);
    bottom: calc(24px + 1.84vh + 16vh + 30px + 250px + 10px);

    width: 100%;
    overflow: hidden;
}

#info-ref {
    position: absolute;
    bottom: calc(16vh + 30px + 250px + 10px);
    left: 0;
    right: 0;
    overflow: hidden;

    height: calc(20px + 1.44vh);
}

#info-ref a {
    /*position: absolute;*/
    display: inline-block;
    text-align: center;
    color: #000000;
    margin-top: calc(2px + 0.2vh);
    margin-bottom: calc(2px + 0.2vh);
    margin-left: 5px;
    margin-right: 5px;
}

#info-ref a:nth-child(n+2) {
    margin-left: 5.2%;
}

#info-wiki {
    position: absolute;
    bottom: calc(10vh + 30px);
    left: 0;
    right: 0;

    width: 100%;
    height: calc(5vh + 250px);

    /* border: 5px solid #0f0f0f; */
    box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.9);
}

#info-activity a, #info-wiki a {
    position: inherit;
    bottom: 0;
    right: 0;
    margin-right: calc(9px + 0.27vw);
}

#info-activity a:hover, #info-wiki a:hover, #info-ref a:hover{
    color: red;
    font-weight: bold;
}

#info-activity {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;

    width: 100%;
    height: calc(5vh + 60px);

    box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.9);
    overflow: hidden;
}


#search {
    position: fixed;
    left: 25vw;
    right: 0;
    top: 0;
    height: 0;
    /*background-color: rgba(0, 0, 0, 0.81);*/
    opacity: 1;
    z-index: 1;
    overflow: hidden;
}


#search ul {
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;

    margin: 0;
}

#search li {
    margin: 0;
    list-style: none;
}

#search input {
    position: relative;
    max-width: 70vw;
    max-height: 15vh;
    width: calc(40% + 18em);
    height: calc(2vh + 0.9em);

    /* align center */
    left: 50%;
    margin-left: max(calc(-20% - 9em - 12px), calc(-35vw - 12px));
    margin-top: 0.45em;
    margin-bottom: 0.45em;

    border: 0;
    outline: none;
    caret-color: red;

    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 1.5em;

    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.83); 
    transform: scale(1); 
    transition: box-shadow 0.6s, transform 0.5s; 
}

#search input:hover {
    background-color: rgba(255, 0, 0, 0.45);
    box-shadow: 0px 0px 13px 6px rgba(255, 0, 0, 0.83);
    transition: box-shadow 0.5s;
}

#search input:focus {
    width: calc(40% + 18em + 0.54em);
    height: calc(2.07vh + 1.08em);

    /* align center */
    left: 50%;
    margin-left: max(calc(-20% - 9.27em - 12px), calc(-35vw - 12px));

    background-color: rgba(255, 0, 0, 0.45);
    box-shadow: 0px 0px 13px 6px rgba(255,0,0,0.83);
    transition: box-shadow 0.5s;
}


input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: rgba(255, 0, 0, 0.5); 
    font-size:36px;
}

input:-moz-placeholder,textarea:-moz-placeholder{ 
    color: rgba(255, 0, 0, 0.5); 
    font-size:36px; 
}

input::-moz-placeholder,textarea::-moz-placeholder{ 
    color: rgba(255, 0, 0, 0.5); 
    font-size:36px; 
} 

input:-ms-input-placeholder,textarea:-ms-input-placeholder{ 
    color: rgba(255, 0, 0, 0.5); 
    font-size:36px; 
}


